{% extends "layout.html" %}

{% block content %}
  <div class="row">
    <div class="col-md-8">
      {% for post in posts %}
        <div class="card mb-4">
          <div class="card-body">
            <h2 class="card-title"><a href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
            <p class="card-text">{{ post.content }}</p>
          </div>
          <div class="card-footer text-muted">
            Posted by <a href="#">{{ post.author.username }}</a> on {{ post.date_posted.strftime('%d-%m-%Y') }}
          </div>
        </div>
      {% endfor %}
          </div>
        </div>
{% endblock content %}
