{% extends "layout.html" %}
{% block content %}
    <h1>About Page</h1>
    <p>CLASSIFILE is a web application which has the ability to function both as a blog as well as a file manager.
        The blog feature enables users to easily communicate amongst themselves if needed while also having the ability to safely store the files on the web app. The application may serve as a secondary source of storage for the user’s files and data while also granting them the ability to create blog-type posts for the purpose of broadcasting information among themselves.
    </p>
    <p> What makes ClassiFile different from a normal file manager is the addition of an optional blog function in which the users are able to communicate problems, ideas, challenges, and solutions and as a result, create communities amongst themselves. It works under the same format as a typical social media platform in the sense that users can create accounts, log in, log out, upload posts and files etc. The hybrid feature of a blog and a file management system was introduced in order to allow users to discuss problems, request to share files etc. which allows such users to grow closer to each other. Although other file security systems have blog features, the aim of ClassiFile is to further incorporate the blog and file management features into one as that generally enables smoother communication on the platform.
    </p>
{% endblock content %}