{% extends "layout.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>ClassiFile - FAQ</title>
    <!-- Add your CSS stylesheets and other meta tags here -->
</head>
<body>
    <main>
        <!-- Add your FAQ content here -->
        <h2>ClassiFile: Frequently Asked Questions</h2>
        <dl>
            <dt>Q: How do I upload a file?</dt>
            <dd>A: To upload a file, navigate to the desired folder, click on the "Upload" button, and select the file from your computer.</dd>

            <dt>Q: Can I create folders to organize my files?</dt>
            <dd>A: Yes, you can create folders by clicking on the "New Folder" button and providing a name for the folder.</dd>

            <dt>Q: How can I rename a file or folder?</dt>
            <dd>A: Right-click on the file or folder you want to rename and select the "Rename" option. Enter the new name and press Enter to save the changes.</dd>

            <dt>Q: Why does ClassiFile have limited functionality?</dt>
            <dd>A: ClassiFile is a new file manager application that aims to provide a simple and intuitive user experience. Currently, it offers basic file management features to ensure ease of use and minimize complexity.</dd>

            <dt>Q: Can I search for specific files or folders?</dt>
            <dd>A: At this time, ClassiFile doesn't have a search feature. However, you can manually browse through folders to locate your desired files or use your operating system's search functionality outside of the application.</dd>

            <dt>Q: Are there any plans to add advanced file sharing options?</dt>
            <dd>A: While ClassiFile focuses on simplicity, we understand the importance of file sharing. We are actively working on implementing basic file sharing capabilities and evaluating user feedback for future enhancements.</dd>

            <dt>Q: Does ClassiFile support cloud storage integration?</dt>
            <dd>A: Currently, ClassiFile is designed as a standalone file manager and doesn't integrate with cloud storage services. We aim to ensure data privacy and security by keeping files stored locally on your device.</dd>

            <dt>Q: Can I customize the appearance of the ClassiFile interface?</dt>
            <dd>A: Currently, ClassiFile doesn't provide extensive customization options for the interface. The focus is on simplicity and ease of use. However, we appreciate user feedback and may consider adding customization options in the future.</dd>


        </dl>
    </main>
</body>
</html>
{% endblock content %}